<?xml version="1.0" encoding="utf-8"?>
<odoo>
        <menuitem id="main_menu"
                   name="Atletas"/>

            <menuitem id="modulos_menu"
                      name="Modulos"
                      parent="main_menu"/>

                <menuitem id="modulo_menu"
                          name="Modulo"
                          parent="modulos_menu"
                          action="jas_21052019_2053_action"/>
</odoo>
