<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="gestion_menuitem"
               name="Gestión del Club"/>

        <menuitem id="atletas_menuitem"
                  name="Socios"
                  parent="gestion_menuitem"/>

            <menuitem id="atletas_todos_menuitem"
                      name="Todos"
                      parent="atletas_menuitem"
                      action="jas_21052019_2053_action"/>

    <menuitem id="marcas_menuitem"
              name="Marcas"/>

        <menuitem id="marca_menuitem"
                  name="Marcas"
                  parent="marcas_menuitem"
                  action="berp_03062019_1510_action"/>

</odoo>
